@page "{correct}/{all}"
@model BackendLab01.Pages.Summary
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<H3>@ViewData["Title"]</H3>
<p>@Model.Correct / @Model.All</p>